*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

body {
  background-color: #000000;
  color: white;
  font-family: sans-serif;
  height: 400px;
  width: 300px;
  overflow: auto;
}
  
header {
  font-size: 0.75rem;
  height: 80px;
  background-color: white;
}

.logo {
  float: left;
  width: 80px;
  height: 80px;
}

nav{
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 10px;
  padding-top: 30px;

  position: relative;
}

nav a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  color: gray;
}

nav a::before {
  content: " ";
  display: block;
  height: 5px;
  width: 100%;
  background-color: black;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover:before {
  width: 100%;
}


header,
form {
  
}

form {
  padding-top: 30px;
}

form input {
  width: 132.5px;
}
form input, form button {
  padding: 0.5rem;
  border: none;
  background: white;
}

form button {
  color:black;
  background: white;
  cursor: pointer;
}

form button:hover {
  background-color:black;
  color: white; 
}

.sm-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-List {
  list-style: none;
  
}

.sm {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;

}

.todo li{
  flex: 1;

}

.trash-btn{
  background-color: yellow;
  cursor: pointer;
}

.sm-item {
  padding: 0rem 0.5rem;
}

.fa-trash {
  pointer-events: none;
}